* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.button-container {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.price {
  font-size: 18px;
  color: #28a745;
  font-weight: bold;
}
